<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BoardMapper">

    <select id="getAllBoards" resultType="com.example.demo.model.Board"> SELECT * FROM BOARDS ORDER BY board_seq ASC </select>

    <select id="getBoardByReviewIdx" resultType="com.example.demo.model.Board"> SELECT * FROM BOARDS
        WHERE board_seq = #{board_seq} </select>

    <delete id="deleteBoardBySeq">
        DELETE FROM BOARDS WHERE board_seq = #{board_seq}
    </delete>
    
    <delete id="deleteCommentsByBoardSeq">
        DELETE FROM COMMENTS WHERE board_seq = #{board_seq}
    </delete>

    <!-- MyBatis mapper XML for fetching comments by board_seq -->
    <select id="getCommentsByBoardSeq" resultType="com.example.demo.model.Comment">
        SELECT * FROM comments WHERE board_seq = #{board_seq}
    </select>


    <!-- 게시글 추가 -->
    <insert id="insertBoard" parameterType="com.example.demo.model.Board">
        INSERT INTO BOARDS
        (board_title, board_re_at, mem_id, board_content, board_at, board_img)
        VALUES
        (#{board_title}, NOW(), #{mem_id}, #{board_content}, NOW(), #{board_img})
    </insert>
    
    <!-- 게시글 업데이트 -->
    <update id="updateBoard" parameterType="com.example.demo.model.Board">
        UPDATE BOARDS
        SET
            board_title = #{board_title},
            board_re_at = #{board_re_at},
            mem_id = #{mem_id},
            board_content = #{board_content},
            board_at = NOW(),
            board_img = #{board_img}
        WHERE board_seq = #{board_seq}
    </update>

    <!-- increaseClickCount 메서드를 위한 SQL 구문 -->
    <update id="increaseClickCount">
        UPDATE CLICK_COUNT_BOARD
        SET count = count + 1
        WHERE board_seq = #{board_seq}
    </update>


    <select id="getBoardClickCountsAsList" resultType="map">
        SELECT board_seq, count
        FROM CLICK_COUNT_BOARD
        ORDER BY board_seq ASC
    </select>
    

</mapper>