<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ShoesMapper">

    <select id="getShoesByCategorySeq" resultType="com.example.demo.model.Shoes"> SELECT s.shoe_seq,
        s.category_seq, c.category, s.shoe, s.shoe_price, s.shoe_img, s.parent_category_seq,
        s.parent_category_seq_name, IFNULL(COUNT(r.review_seq), 0) AS reviewCount,
        IFNULL(AVG(CAST(r.review_rating AS DECIMAL(10, 2))), 0) AS averageRating FROM SHOES s LEFT
        JOIN REVIEWS r ON s.shoe_seq = r.shoe_seq LEFT JOIN CATEGORIES c ON s.category_seq =
        c.category_seq GROUP BY s.shoe_seq HAVING parent_category_seq_name =
        #{parent_category_seq_name}; </select>

    <select id="getShoess" resultType="com.example.demo.model.Shoes"> SELECT * FROM SHOES </select>

    <select id="getAllShoesWithReviews" resultType="com.example.demo.model.Shoes"> SELECT
        s.shoe_seq, s.category_seq, c.category, s.shoe, s.shoe_price, s.shoe_img,
        s.parent_category_seq, s.parent_category_seq_name, IFNULL(COUNT(r.review_seq), 0) AS
        reviewCount, IFNULL(AVG(CAST(r.review_rating AS DECIMAL(10, 2))), 0) AS averageRating FROM
        SHOES s LEFT JOIN REVIEWS r ON s.shoe_seq = r.shoe_seq LEFT JOIN CATEGORIES c ON
        s.category_seq = c.category_seq GROUP BY s.shoe_seq;</select>

</mapper>